<<html>
<head>
	<title></title>
</head>
<body>
	<p>Hi {{pro.companyName}},<p/>
	<p>There has been a new job that matches your criteria.<br />
	Please confirm if you would like to be put forward for this job (and supply your rate / quote – if applicable).</p>
	<p>Job Details</p>
	<div>{{{ customerRequest }}}</div>
	<br />
	<div class="button">
		<form id="actionform" method="post" action="http://findyour.herokuapp.com/submit_profile">
			<input type="hidden" name="pro_name" value="{{pro.companyName}}" />
			<input type="hidden" name="pro_email" value="{{pro.email}}" />
			<input type="hidden" name="pro_category" value="{{pro.category}}" />
			<input type="hidden" name="cust_email" value="{{customerEmail}}" />			
			<button type="submit" form="actionform" formtarget="_blank">Submit my profile</button>
		</form>
	</div>
	
</body>
</html>